@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{
font-size: 1.2rem;
font-family: 'Roboto', sans-serif;

}


/* accounting */



.navbar{

    background-color: #827397;

text-align: center;
padding-top: 25px;
padding-bottom: 25px;
color: rgb(235, 19, 19);

}






.copy{
    color: rgb(2, 12, 16);
position: relative;
top: 17rem;
text-align: right;


}
.social{
    
    background-color:#827397  ;
text-align: center;
padding-top: 25px;
padding-bottom: 25px;
position:relative;
top:15.5rem;


}

.Image{


   background-color: #4D4C7D;
}
.form{
font-size: 55px;


background-color: #f8f2f3 o


    
}
.m{

    background-color: #E9D5DA;
    opacity: 30%;
}
.ml{
    background-color: #e8dde0;

}
.btn{
    color: aliceblue;
    opacity: 70%;
background-color: #686792;

}
.p{

background-color: azure;}




/* the (tableId) it's for the accounting page */
#tableId{

border:3px solid;
margin: 50px;

text-align: center;

}
/* the (tableID2) it's for the accounting page */
.tableID2{
margin: 50px;
    border:3px solid;


  position: relative;
  top: 330px;
  text-align: center;

}

/* the (th) it's for the accounting page */
th {                           
font-size: 1.2rem;
border:3px solid;
margin: 20px;


}

.copyacc{
position: relative;
top: 13rem;


}