@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{
font-size: 1.2rem;
font-family: 'Roboto', sans-serif;

}


/* accounting */



.navbar{

    background-color: #827397;

text-align: center;
padding-top: 25px;
padding-bottom: 25px;
color: rgb(235, 19, 19);

}



.social{
    
    background-color:#827397  ;
text-align: center;
padding-top: 25px;
padding-bottom: 25px;




}



.copy{
    color: rgb(209, 217, 225);

text-align: right;
position: relative;
top: 75px;
right: 10px;

}
.Image{


   background-color: #4D4C7D;
}
.form{
font-size: 55px;


background-color: #f8f2f3 o


    
}
.m{

    background-color: #E9D5DA;
    opacity: 30%;
}
.ml{
    background-color: #e8dde0;

}
.btn{
    color: aliceblue;
    opacity: 70%;
background-color: #686792;

}
.p{

background-color: azure;}